$charcoal: #FDFDFD;

.main-header {
  align-items: center;
  display: flex;
  height: 100px;
  padding: 0 20px;

  a,
  span {
    font-size: 1em;
    margin: 0 15px;
    text-decoration:none;
    color: white;
    transition: background-color 1s;
    padding: 0px 10px 0px 10px;
  }
  a:hover{
    background-color: #9664a1b0;
  }
}





.main-header > nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: 0.7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      border: 1px solid $charcoal;
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}
#user-span{
  background-color: white;
  border-radius: 3px;
  color: purple;
  font-size: 14px;
}

#header-title{
  cursor:pointer;
  transition: transform 0.5s;
  font-family: 'Cormorant Garamond', serif;
}

#header-title:hover{
  transform: rotate(360deg)
}